@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Ubuntu&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Button Styling */
.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.btn-dark {
    display: block;
    margin: 0 auto;

    border: 2px solid black;

    color: black;
}

/* Page Background */
.background {
    background: rgba(0, 0, 0, 0.7) url('../images/bg4.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

/* Styling for navbar */

.logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.navlist {
    /* background-color: black ; */
    width: 70%;
    display: flex;
    align-items: center;

}

.navlist li {
    list-style: none;
    padding: 23px 34px;
}

.navlist li a {
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    color: green;
}

.rightNav {
    text-align: right;
    /* background-color: blueviolet; */
    width: 30%;
    padding: 0 25px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 25px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    margin: 3px 3px;
    height: 4px;
}

/* Hero Section */
.firstSection {
    height: 100vh;
}

.boxMain {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf {
    width: 30%;

}

.secondHalf img {
    width: 70%;
    border: 2px solid white;
    border-radius: 150%;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 41px;

}

.text-small {
    font-size: 18px;

}

/* About Us */

.section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin-top: 5%;
}

.section-left {
    flex-direction: row-reverse;
    margin-top: 5%;

}

.sectionSubTag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    border: 2px solid white;
    border-radius: 25px;
}

.contact {
    height: 100vh;
}

.contact h2 {
    font-size: 45px;
    font-family: 'Baloo Bhai 2', cursive;
}

.text-center {

    text-align: center;
    padding: 28px;


}

.form {
    max-width: 60%;
    margin: 25px auto;
}

.form-input {
    width: 100%;
    margin: 14px 0;
    padding: 5px 13px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
}

.footer-text {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: black;
}

/* Adding media queries */

@media screen and (max-width: 1015px) {
    .navbar {
        height: 450px;
        flex-direction: column;
        transform: all 0.7s ease-in-out;
    }

    .navlist {
        flex-direction: column;
    }

    .rightNav {
        text-align: center;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav {
        height: 72px;
    }

    .v-class {
        opacity: 0;
    }



}