/* Main Stylesheet */
/* Google Fonts */

@import url();

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor:pointer;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 50%;
    /* background-color: black; */
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
    font-size: 16px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}

.nav-list li a:hover {
    color: rgb(197, 194, 194);
    text-decoration: underline;
    font-weight: bolder;

}

.rightnav {
    width: 50%;
    /* background-color: deepskyblue; */
    text-align: right;
    padding-top: 26px;
    padding-right: 20px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 15px;
}

.navbackground {
    background: black
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../images/bg1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstHalf {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border: 4px solid white;
    border-radius: 100px;
}